.env
.env.*
*.env

.settings/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

__pycache__/
*$py.class

lib/
.env/
.venv/
env/
venv/

.pytest_cache/
.mypy_cache/
.ruff_cache/
wandb/
runs/
checkpoints/
mlruns/
lightning_logs/
*.tensorboard/
data/
datasets/
*.parquet
*.feather
*.arrow
*.csv.gz


.next/
out/
dist/
*.tsbuildinfo
.eslintcache
.stylelintcache
.prettiercache
*.db
